// Services

.service {
    margin-bottom: 30px;
}

.service img {
    margin-bottom: 30px;
}

.service h3 {
    color: #464760;
    font-family: $base-body-font-family;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 30px;
}

.service p {
    color: #767886;
    font-size: 19px;
    margin: 0 0 30px;
}