// Image

.uk-card-title {
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}

.uk-card-badge {
    top: 0;
    right: 0;
}

.section .uk-card p {
    font-size: 16px;
}

.image-fit {
    width: 270px;
    height: 180px;
    object-fit: fill;

    @media screen and (max-width: 1200px) {
        width: 540px;
        height: 360px;
        object-fit: fill;
    }

    @media screen and (max-width: 960px) {
        width: 100%;
        height: auto;
    }
}

.uk-card-muted {
    background: #f8f8f8;
}


@media screen and (min-width: 960px) {
    .ajax-news-container .uk-card {
        min-height: 540px;
    }
    .ajax-news-container .uk-card-body {
        min-height: 210px;
    }
    .ajax-news-container .uk-card-footer {
        width: calc(100% - 40px);
        position: absolute;
        bottom: 0;
    }
}

.canada-local-image {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

@media screen and (min-width: 1200px) {
    .canada-local-image {
        width: 270px;
        height: 180px;
    }
}

