// Image

.uk-card-title {
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}

.uk-card-badge {
    top: 0;
    right: 0;
}

.section .uk-card p {
    font-size: 16px;
}

.image-fit {
    width: 270px;
    height: 180px;
    object-fit: fill;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
    }
}

.uk-card-muted {
    background: #f8f8f8;
}