.default-rte {
    font-size: 21px;
}

.default-rte h2,
h2.branded-title {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 50px;
    position: relative;

    &:after {
        content: "";
        width: 150px;
        height: 5px;
        background-color: $accent-color;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.default-rte p,
.default-rte ul {
    font-size: 21px;
}

.default-rte ul {
    list-style: none;
}

.default-rte ul li {
    margin-bottom: 10px;
}

.default-rte ul li::before,
.list-custom li::before {
    content: "\2022";
    color: $accent-color;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.default-rte em {
    color: $accent-color;
}