{#
 |------------------------------------------------------------------------------
 | 403 template
 |------------------------------------------------------------------------------
#}

{% extends '_layouts/default' %}

{% block page %}
    {% include '_partials/header' with {
        isHomePage: false,
        isErrorPage: true,
        errorPageTitle: 'Access Denied',
    } %}

    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <p>{{ "Sorry, you cannot access the content of the requested page."|t }}</p>
            <a href="{{ siteUrl }}">{{ 'Back to homepage'|t }}</a>
        </div>
    </div>

    {% include "_partials/footer" %}
{% endblock %}