{#
 |------------------------------------------------------------------------------
 | Pages default entry template
 |------------------------------------------------------------------------------
#}

{% extends '_entries/default' %}

{% block main %}
    <div class="uk-container">
        {{ entry.body }}
    </div>
{% endblock %}