{#
 |------------------------------------------------------------------------------
 | Articles
 |------------------------------------------------------------------------------
#}

{% extends '_entries/default' %}

{% block main %}
    <div class="uk-container uk-container-xsmall">
        <div class="uk-margin-large-top uk-margin-large-bottom">
            {{ entry.body }}
        </div>
    </div>
{% endblock %}